#app {
  display: flex;
  height: 100%;
  width: 100%;
}

#sidebar {
  font-size: 0.75rem;
  width: 16rem;
  background-color: #f7f7f7;
  border-radius: 12px;
  border: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
}

#sidebar > * {
  padding-left: 18px;
  padding-right: 18px;
}

#sidebar h1 {
  font-size: 1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 18px;
  border-top: 1px solid #e3e3e3;
  order: 1;
  line-height: 1;
}

#sidebar h1::before {
  content: url('/assets/images/bee_avatar.svg');
  margin-right: 0.5rem;
  position: relative;
  top: 1px;
}

#sidebar h1 a {
  color: inherit;
  text-decoration: none;
}

#sidebar h1 a:hover,
#sidebar h1 a:focus {
  text-decoration: underline;
}

#sidebar nav {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;
}

#sidebar nav a span {
  float: right;
  color: #eeb004;
}
#sidebar nav a.active span {
  color: inherit;
}

#sidebar nav .active i {
  color: inherit;
}

#sidebar ul {
  padding: 0;
  list-style: none;
}

#sidebar li {
  margin: 6px 0;
}

#sidebar nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  white-space: pre;
  padding: 6px 12px;
  border-radius: 6px;
  color: inherit;
  text-decoration: none;
  gap: 1rem;
}

#sidebar nav a:hover {
  background: #e3e3e3;
}

#sidebar nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

#sidebar nav a.pending {
  color: hsl(224, 98%, 58%);
}

#main {
  flex: 1;
  padding: 1rem 18px;
  width: 100%;
}

#main.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

#null {
  margin: 2rem auto;
  text-align: center;
  color: #818181;
}

#null:before {
  content: url('/assets/images/bee_avatar.svg');
  transform: scale(2);
  filter: grayscale(100%) opacity(25%);
  display: block;
  margin-bottom: 0.5rem;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
